//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.09 Education
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9C
//Created Time: Wed 03 01 13:24:04 2023

IO_LOC "dout[5]" 16;
IO_PORT "dout[5]" PULL_MODE=UP DRIVE=8;
IO_LOC "dout[4]" 15;
IO_PORT "dout[4]" PULL_MODE=UP DRIVE=8;
IO_LOC "dout[3]" 14;
IO_PORT "dout[3]" PULL_MODE=UP DRIVE=8;
IO_LOC "dout[2]" 13;
IO_PORT "dout[2]" PULL_MODE=UP DRIVE=8;
IO_LOC "dout[1]" 11;
IO_PORT "dout[1]" PULL_MODE=UP DRIVE=8;
IO_LOC "dout[0]" 10;
IO_PORT "dout[0]" PULL_MODE=UP DRIVE=8;
IO_LOC "clk_in" 52;
IO_PORT "clk_in" PULL_MODE=UP;
IO_LOC "btn_rst" 4;
IO_PORT "btn_rst" PULL_MODE=UP;
